<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <link rel="stylesheet" href="style.css" />
    <script src="https://www.gstatic.com/firebasejs/7.14.3/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.14.3/firebase-auth.js"></script>
    <title>Holla</title>
</head>
<header>
        <!-- start to navbar -->
        <nav class="navbar">
            <div class="container">
                <div class="navbar-brand">
                    <a class="navbar-item" href="../">
                        <img src="https://www.logoground.com/uploads6/dv6y2019124112019-04-294948577Owl.jpg" alt="Logo">
                    </a>
                    <span class="navbar-burger burger" data-target="navbarMenu">
                        <span></span>
                        <span></span>
                        <span></span>
                    </span>
                </div>
    
                <div class="navbar-menu">
                    <div class=" navbar-item">
                        <div class="control has-icons-left">
                            <input class="input is-rounded" type="email" placeholder="Search">
                            <span class="icon is-left">
                                <i class="fa fa-search"></i>
                            </span>
                        </div>
                    </div>
                </div>
    
                <div id="navbarMenu" class="navbar-menu">
                    <div class="navbar-end">
                        <div class="navbar-item has-dropdown is-hoverable">
                            <a class="navbar-link">
                                Account
                            </a>
                            <div class="navbar-dropdown">
                                <a class="navbar-item" href="../views/index.html">
                                    Home
                                </a>
                                <a class="navbar-item" href="../views/profile.html">
                                    Profile
                                </a>
                                <a class="navbar-item" href="../views/inbox.html">
                                    Inbox
                                </a>
                                <hr class="navbar-divider">
                                <a class="navbar-item" href="../views/login.html">
                                    Logout
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        <!-- end of navbar -->
</header>

<body class="align">
    <div class="grid">
      <h1>Sign up Form</h1>
      <div id="formContainer">
        <div id="header"></div>
        <input type="email" placeholder="email" id="email" />
        <input type="password" placeholder="password" id="password" />
        <button onclick="signUp()" href="signup.html" id="signup">Sign Up</button>
        <button onclick="signIn()" id="signin" href="login.html">Sign In</button>
        <button onclick="signOut()" id="signout" href="index.html">Sign out</button>

      </div>
    </div>
    <script
      type="text/javascript"
      src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"
    ></script>
    <script type="text/javascript" src="index.js"></script>
  </body>

</html>